*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("immagini/wood.jpg");
  background-size: cover;
}

.container{
  width: 60%;
  margin: auto;
}

header{
  position: relative;
  background-image: url("immagini/naturaltheme.jpg");
  background-size: cover;
  background-color: white;
  height: 300px;
  margin-top: 3%;
  border: solid white 8px;
}

.logo-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: verdana;
  color: white;
  text-transform: uppercase;
  border: solid white 3px;
  padding: 8px;
}

.img-subtitle{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: verdana;
  color: white;
  text-transform: uppercase;
}

#navigation{
  position: relative;
  background-color: gray;
  height: 50px;
  margin-bottom: 2%;
}

.style-text li{
  display: inline;
  font-size: 15px;
  font-family: verdana;
  color: white;
  text-transform: uppercase;
}

.clearfix{
  position: relative;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/*definizione stili delle colonne e loro contenuto*/
.colonnasx{
  border-radius: 5px;
  background-color: white;
  height: 400px;
  width: 25%;
  float:left;
}

.colonnacenter{
  background-color: white;
  border-radius: 5px;
  width: 40%;
  float:left;
  margin-left: 5%;
  margin-right: 5%;
}

.title{
  font-family: helvetica;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 3;
  margin-left: 5%;
  margin-right: 5%;
}

.text{
  font-family: helvetica;
  font-size: 14px;
  line-height: 2;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.colonnadx{
  width: 25%;
  float: left;
  margin-bottom: 5%;
}

.widgetdx1{
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10%;
}

.textwidget{
  font-family: helvetica;
  font-size: 25px;
  line-height: 3;
  margin-left: 5%;
  margin-right: 5%;
}

.widgetdx2{
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10%;
}

.widgetdx3{
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10%;
}

footer{
  border-radius: 5px;
  background-color: white;
  height: 200px;
  margin-bottom: 5%;
}
